
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.active{
    box-shadow: 0px 0px 10px 4px rgb(236, 233, 233);

}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
    
}
.green{
    background-color: green;
}
.purple{
    background-color: rgb(147, 3, 147);
}
.trafficlight{
    background-color: rgba(0, 0, 0, 0.778);
    padding: 20px;
    width: 150px;
    border-radius: 10%;
}
.holder{
    background-color: rgba(0, 0, 0, 0.778);
    width: 30px;
    height: 100px;
    margin: auto;
}
.striped {
    background: linear-gradient(to left, red 33%,yellow 33% 66%, green 66%);
    border: 2px solid black;
    color: black;
  }
  .purple{
    background-color: purple;
  }